/**************/
/* CSS REMEDY */
/**************/
*, *::after, *::before {
  box-sizing:border-box;  
}






/*********************/
/* CUSTOM PROPERTIES */
/*********************/
:root {
	/* startje */
	--color-text:#111;
	--color-background:#ffffff;
	--color-orange: #FF6E0C;
	--color-pink: #F20C90;

}





/****************/
/* JOUW STYLING */
/****************/

/* jouw code */

